// Import all partials
@require './_*.styl'
@require './bootstrap/bootstrap.min.css'

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#main {
	margin-top: 5px;
}

h1 {
	font-size: 18px;
	margin: 0 0 10px;
}

.latest_post_title {
	font-weight: bold;
}

.latest_post_content {
	max-height: 82px;
	overflow: hidden;
}

.next_birthday_image {
	width: 80px;
	height: 100px;
	background-color: #ccc;
}

.items_container {
	margin-top: 20px;
}
.itembox {
	margin-bottom: 20px;
	position: relative;
}
.itemimage {
	background-color: #ccc;
	width: 100%;
	padding-bottom: 75%;
}
.itemDelete {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	right: 12px;
	font-size: 24px;
	display: none;
}
.itembox:hover .itemDelete {
	display: block;
}
.itemDelete:hover {
	background-color: #aaa;
	font-weight: bold;
	cursor: pointer;
}

/*lg*/
@media screen and (min-width: 1200px) {

}

/*md*/
@media screen and (min-width: 992px) {

}

/*sm*/
@media screen and (min-width: 768px) {

}

