// Import all partials
@require './_*.styl'
@require './bootstrap/bootstrap.min.css'

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#page_home {
	margin: 5px auto;
}

.title {
	font-size: 24px;
}

.latest_post_title {
	font-weight: bold;
}

.latest_post_content {
	max-height: 82px;
	overflow: hidden;
}

.next_birthday_image {
	width: 80px;
	height: 100px;
	background-color: #ccc;
}

.items_container {
	margin-top: 20px;
}
.itembox {
	margin-bottom: 20px;
	position: relative;
}
.itemimage {
	background-color: #ccc;
	min-height: 220px;
}
.itemDelete {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	right: 12px;
	font-size: 24px;
	display: none;
}
.itembox:hover .itemDelete {
	display: block;
}
.itemDelete:hover {
	background-color: #aaa;
	font-weight: bold;
	cursor: pointer;
}

